@using PlayStore.Admin.Project.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_LayoutUserIdentity.cshtml";
}

@section css{
    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="~/assets/plugins/materialize/css/materialize.min.css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/plugins/material-preloader/css/materialPreloader.min.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="~/assets/css/alpha.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

}

@section js{
    <!-- Javascripts -->
    <script src="~/assets/plugins/jquery/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/materialize/js/materialize.min.js"></script>
    <script src="~/assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
    <script src="~/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
    <script src="~/assets/js/alpha.min.js"></script>
}

<div class="row">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "frmLogin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="col s12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="input-field col s12">
            @Html.TextBoxFor(m => m.Email, new { @class = "validate", @type = "email" })
            @Html.LabelFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="input-field col s12">
            @Html.PasswordFor(m => m.Password, new { @class = "validate", @type = "password" })
            @Html.LabelFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="col s12 right-align m-t-sm">
            <a href="@Url.Action("ForgotPassword", "Account")" class="waves-effect waves-light btn teal left">Reset</a>
            <button type="submit" class="waves-effect waves-light btn teal right">sign in</button>
        </div>
    }
</div>